# lab01-findS

In [1]:
import pandas as pd

df = pd.read_csv("data.csv")
print("Shape", df.shape)
df.head()

Shape (4, 7)

      Time Weather Temperature Company Humidity    Wind Goes
0  Morning   Sunny        Warm     Yes     Mild  Strong  Yes
1  Evening   Rainy        Cold      No     Mild  Normal   No
2  Morning   Sunny    Moderate     Yes   Normal  Normal  Yes
3  Evening   Sunny        Cold     Yes     High  Strong  Yes

In [2]:
df.columns

Index(['Time', 'Weather', 'Temperature', 'Company', 'Humidity', ' Wind',
       'Goes'],
      dtype='object')

In [3]:
data = df[['Time', 'Weather', 'Temperature', 'Company', 'Humidity', ' Wind']].values
print("Attributes:\n", data)

Attributes:
 [['Morning' 'Sunny' 'Warm' 'Yes' 'Mild' 'Strong']
 ['Evening' 'Rainy' 'Cold' 'No' 'Mild' 'Normal']
 ['Morning' 'Sunny' 'Moderate' 'Yes' 'Normal' 'Normal']
 ['Evening' 'Sunny' 'Cold' 'Yes' 'High' 'Strong']]

In [4]:
target = df[['Goes']].values
print("Target:\n", target)

Target:
 [['Yes']
 ['No']
 ['Yes']
 ['Yes']]

In [5]:
def train(c,t):
    for i, val in enumerate(t):
        if val == "Yes":
            specific_hypothesis = c[i].copy()
            break
             
    for i, val in enumerate(c):
        if t[i] == "Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
                 
    return specific_hypothesis

In [6]:
print("Final hypothesis is:", train(data, target))

Final hypothesis is: ['?' 'Sunny' '?' 'Yes' '?' '?']