# KNN Algorithm

### Imports

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.datasets import load_iris

## Load Data from CSV

In [2]:
iris = load_iris()
df = pd.DataFrame(iris['data'])

print(iris['target_names'])
df.sample(10)

['setosa' 'versicolor' 'virginica']

       0    1    2    3
105  7.6  3.0  6.6  2.1
21   5.1  3.7  1.5  0.4
122  7.7  2.8  6.7  2.0
145  6.7  3.0  5.2  2.3
108  6.7  2.5  5.8  1.8
107  7.3  2.9  6.3  1.8
22   4.6  3.6  1.0  0.2
48   5.3  3.7  1.5  0.2
103  6.3  2.9  5.6  1.8
131  7.9  3.8  6.4  2.0

In [3]:
X = df
y = iris['target']

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

## Train

In [4]:
#To Training the model and Nearest nighbors K=5
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

## Predict

In [5]:
y_pred = classifier.predict(x_test)

## Results

In [6]:
print('Confusion Matrix')
print(confusion_matrix(y_test,y_pred))
print('Accuracy Metrics')
print(classification_report(y_test,y_pred))

Confusion Matrix
[[10  0  0]
 [ 0 16  2]
 [ 0  0 17]]
Accuracy Metrics
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.89      0.94        18
           2       0.89      1.00      0.94        17

    accuracy                           0.96        45
   macro avg       0.96      0.96      0.96        45
weighted avg       0.96      0.96      0.96        45

In [7]:
results = pd.DataFrame({"true":y_test,"pred":y_pred})
results

    true  pred
0      0     0
1      1     1
2      0     0
3      2     2
4      2     2
5      1     1
6      1     1
7      1     1
8      2     2
9      2     2
10     2     2
11     2     2
12     0     0
13     1     1
14     1     1
15     0     0
16     2     2
17     0     0
18     1     2
19     2     2
20     1     1
21     2     2
22     2     2
23     1     1
24     0     0
25     2     2
26     0     0
27     1     1
28     1     1
29     2     2
30     2     2
31     2     2
32     1     1
33     0     0
34     1     1
35     2     2
36     1     1
37     2     2
38     1     1
39     1     2
40     0     0
41     1     1
42     0     0
43     1     1
44     2     2

### Incorrect Predictions

In [8]:
results[results.true != results.pred]

    true  pred
18     1     2
39     1     2