# Bayesian Network

In [1]:
# install required packages
! pip install pgmpy -q

In [2]:
import numpy as np
import pandas as pd
import csv 
from pgmpy.estimators import MaximumLikelihoodEstimator
from pgmpy.models import BayesianModel
from pgmpy.inference import VariableElimination

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
heartDisease = pd.read_csv('heart.csv')
heartDisease = heartDisease.replace('?',np.nan)

heartDisease.sample(10)

     age  sex  cp  trestbps  chol  ...  oldpeak  slope   ca  thal  heartdisease
66    60    1   3       140   185  ...      3.0      2    0     3             1
290   67    1   3       152   212  ...      0.8      2    0     7             1
76    60    1   4       125   258  ...      2.8      2    1     7             1
178   43    1   3       130   315  ...      1.9      1    1     3             0
240   41    1   2       110   235  ...      0.0      1    0     3             0
221   54    0   3       108   267  ...      0.0      1    0     3             0
48    65    0   3       140   417  ...      0.8      1    1     3             0
130   54    1   3       120   258  ...      0.4      2    0     7             0
198   50    0   2       120   244  ...      1.1      1    0     3             0
287   58    1   2       125   220  ...      0.4      2  NaN     7             0

[10 rows x 14 columns]

## Model

In [4]:
model = BayesianModel(
    [
        ("age", "heartdisease"),
        ("sex", "heartdisease"),
        ("exang", "heartdisease"),
        ("cp", "heartdisease"),
        ("heartdisease", "restecg"),
        ("heartdisease", "chol"),
    ]
)

In [5]:
model.fit(heartDisease, estimator=MaximumLikelihoodEstimator)

In [6]:
# Inferencing with Bayesian Network
HeartDiseasetest_infer = VariableElimination(model)

## Prediction

In [7]:
print('\n 1. Probability of HeartDisease given evidence= restecg')
q = HeartDiseasetest_infer.query(variables=['heartdisease'],evidence={'restecg':1})
print(q)

Finding Elimination Order: : 100%|██████████| 5/5 [00:00<00:00, 932.56it/s]
Eliminating: sex: 100%|██████████| 5/5 [00:00<00:00, 197.55it/s]

 1. Probability of HeartDisease given evidence= restecg
+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.1012 |
+-----------------+---------------------+
| heartdisease(1) |              0.0000 |
+-----------------+---------------------+
| heartdisease(2) |              0.2392 |
+-----------------+---------------------+
| heartdisease(3) |              0.2015 |
+-----------------+---------------------+
| heartdisease(4) |              0.4581 |
+-----------------+---------------------+

In [8]:
print('\n 2. Probability of HeartDisease given evidence= cp ')
q = HeartDiseasetest_infer.query(variables=['heartdisease'],evidence={'cp':2})
print(q)

 2. Probability of HeartDisease given evidence= cp

Finding Elimination Order: : 100%|██████████| 5/5 [00:00<00:00, 1625.83it/s]
Eliminating: sex: 100%|██████████| 5/5 [00:00<00:00, 248.94it/s]

+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.3610 |
+-----------------+---------------------+
| heartdisease(1) |              0.2159 |
+-----------------+---------------------+
| heartdisease(2) |              0.1373 |
+-----------------+---------------------+
| heartdisease(3) |              0.1537 |
+-----------------+---------------------+
| heartdisease(4) |              0.1321 |
+-----------------+---------------------+

In [9]:
print('\n 2. Probability of HeartDisease given evidence= age ')
q = HeartDiseasetest_infer.query(variables=['heartdisease'], evidence={'age':29})
print(q)

 2. Probability of HeartDisease given evidence= age

Finding Elimination Order: : 100%|██████████| 5/5 [00:00<00:00, 371.69it/s]
Eliminating: sex: 100%|██████████| 5/5 [00:00<00:00, 170.12it/s]

+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.2602 |
+-----------------+---------------------+
| heartdisease(1) |              0.1850 |
+-----------------+---------------------+
| heartdisease(2) |              0.1850 |
+-----------------+---------------------+
| heartdisease(3) |              0.1850 |
+-----------------+---------------------+
| heartdisease(4) |              0.1850 |
+-----------------+---------------------+

In [10]:
print('\n 2. Probability of HeartDisease given evidence= chol ')
q = HeartDiseasetest_infer.query(variables=['heartdisease'], evidence={'chol':203})
print(q)

 2. Probability of HeartDisease given evidence= chol

Finding Elimination Order: : 100%|██████████| 5/5 [00:00<00:00, 353.40it/s]
Eliminating: sex: 100%|██████████| 5/5 [00:00<00:00, 141.32it/s]

+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.1952 |
+-----------------+---------------------+
| heartdisease(1) |              0.3434 |
+-----------------+---------------------+
| heartdisease(2) |              0.4614 |
+-----------------+---------------------+
| heartdisease(3) |              0.0000 |
+-----------------+---------------------+
| heartdisease(4) |              0.0000 |
+-----------------+---------------------+

In [11]:
print('\n 2. Probability of HeartDisease given evidence= exang ')
q = HeartDiseasetest_infer.query(variables=['heartdisease'], evidence={'exang':0})
print(q)

 2. Probability of HeartDisease given evidence= exang

Finding Elimination Order: : 100%|██████████| 5/5 [00:00<00:00, 796.61it/s]
Eliminating: sex: 100%|██████████| 5/5 [00:00<00:00, 241.09it/s]

+-----------------+---------------------+
| heartdisease    |   phi(heartdisease) |
+=================+=====================+
| heartdisease(0) |              0.4102 |
+-----------------+---------------------+
| heartdisease(1) |              0.1932 |
+-----------------+---------------------+
| heartdisease(2) |              0.1548 |
+-----------------+---------------------+
| heartdisease(3) |              0.1174 |
+-----------------+---------------------+
| heartdisease(4) |              0.1245 |
+-----------------+---------------------+